h1 {
    font-weight: 300;
    font-size: 64px;
}
.infoblock {
    text-align: center;
    margin: 2.5% auto;
}
.infoblock p {
    font-size: 24px;
}
.searchBar {
    margin: 16px auto;
}
.v-card--reveal {
    align-items: center;
    bottom: 0;
    justify-content: center;
    opacity: .9;
    position: absolute;
    width: 100%;
}
.v-footer {
    padding: 0px;
}
.v-btn--variant-plain {
    text-transform: none;
    font-size: 1.5em;
    letter-spacing: 0em;
    opacity: 1;
}